<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    
   
 
    <script src='js/device.min.js'></script> 
</head>

<body>
<div class="page">
    
    <header>

        <div id="stuck_container" class="stuck_container">
            <div class="container">

                <div class="brand">
                    <h1 class="brand_name">
                        <a href="./">RecipeSpace.com</a>
                    </h1>
                </div>

                <nav class="nav">
                    <ul class="sf-menu">
                        <li>
                            <a href="./">Home</a>
                        </li>
                        <li class="active">
                            <a href="index-1.html">About</a>
                            <ul>
                                <li>
                                    <a href="#">Quisque nulla</a>
                                </li>
                                <li>
                                    <a href="#">Vestibulum libero</a>
                                    <ul>
                                        <li>
                                            <a href="#">Lorem</a>
                                        </li>
                                        <li>
                                            <a href="#">Dolor</a>
                                        </li>
                                        <li>
                                            <a href="#">Sit amet</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Vivamus eget nibh</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="dishes.html">Menu</a>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </div>

    </header>
  
    <main>
        <section class="well well__offset-3">
            <div class="container">
                <h2><em>Welcome</em>peeps</h2>
                <div class="row row__offset-2">
                    <div class="grid_6">
                        <p class="indents-3">Introducing RecipeSpace, the recipe app that's not just about cooking; it's about discovering the edible tales of adventure, love, and flavor that dance on your taste buds! </p>
                        <div class="img"><div class="lazy-img" style="padding-bottom: 45.6140350877193%;"><img data-src="images/page-2_img01.jpg" alt=""></div></div>
                    </div>
                    <div class="grid_6">
                        <p class="indents-3">Tired of the same old recipes that don't quite match your unique cravings? This not just a recipe app; it's your culinary companion that understands the flavors that make you, well, you!</p>
                        <div class="img"><div class="lazy-img" style="padding-bottom: 45.6140350877193%;"><img data-src="images/page-2_img02.jpg" alt=""></div></div>
                    </div>
                </div>
            </div>
            <div class="search">
              <input type="text"style="position:absolute; top:630px; left:500px; height: 40px; width:500px; " placeholder="search for recipe"><i class="fa fa-search"></i>
            </div>
        </section>
        <section class="parallax parallax2" data-parallax-speed="-0.4">   
            <div class="container">
              <div class="gallery">
              <figure class="gallery__item gallery__item--1">
                <img src="/images/download (1).jpg" alt="Gallery image 1" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="/images/90.jpg" alt="Gallery image 2" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--3">
                <img src="/images/images (1).jpg" alt="Gallery image 3" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--4">
                <img src="/images/download.jpg" alt="Gallery image 4" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--5">
                <img src="/images/parmesan-crumbed-chicken-schnitzel-fried-eggs-and-apple-cabbage-slaw-173352-2.jpg" alt="Gallery image 5" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--6">
                <img src="/images/images.jpg" alt="Gallery image 6" class="gallery__img">
            </figure>
          </div>
            
                <h2><em>Good Food </em>and Big Fun</h2>
                <div class="row">
                    <div class="grid_6">
                        <p class="indents-3">Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpatturpis ut massa commodo, quis aliquam massa facilisis.Integer convavel miberto merlonelaoreet, at ornare lorem consequat. Phasellus era nisl auctor venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.<br><br>Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convavel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor venenatis nullatibulum volutpat turpis ut massa commodoquis </p>                        
                    </div>
                    <div class="grid_6">
                        <p class="indents-3">Onteger convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla.<br><br>Vestibulum volutpat turpis ut massa commodo, quis aliquam massa fertoli estibulum volutpat turpis ut massa commodo, quis aliquam massa gertoli facilisis.Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol sed,pharetra venenatis nulla.</p>
                    </div>
                </div>
            </div>
        </section>
       
    </main>

    
    <footer>
        <div class="container">
            <ul class="socials">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-tumblr"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
            <div class="copyright">© <span id="copyright-year"></span> |
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="tm"><a href="#"><img src="images/TM_logo.png" alt=""></a></div>
    </footer>
</div>

<script src="js/script.js"></script>
</body>
</html>
